@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: poppins;
}

* {
    box-sizing: border-box;
}


/* -------------------- Google Review Button ------------- */

.review-holder {
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s linear;
}

.review-div {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    height: 90px;
    align-items: center;
    border: 2px solid #dcdcdc;
    position: relative;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}


.review-content p {
    margin-bottom: 4px;
}
.stars, .review-date {
    width: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.review-holder .fa-star {
    color: #f6b900;
    font-size: 18px;
    margin: 10px 2px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.review-content strong {
    padding-right: 5px;
}
b, strong {
    font-weight: bolder;
}

.review-div i.review-cross {
    color: #dcdcdc;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* -------------------- Google Review Button End------------- */


hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.topcontact {
    line-height: 3.6;
}

.topcontact i {
    font-size: x-large;
    vertical-align: middle;
    left: auto;
    padding-left: 35px;
    color: aliceblue;
}

.topcontact a {
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    vertical-align: middle;
}
 @media(max-width:991px) {
    .topcontact{
        visibility: hidden;
      
        
    }
}

.list li {
    font-size: 20px;
    margin: 18px;
}

.top li {
    padding: 12px;
    font-size: 20px;
    color: aliceblue;

}

.img {
    animation: spin 11s linear infinite;
}

@media (max-width: 1042px) {

    .top li {
        font-size: 1rem;
    }
}

@media (max-width: 840px) {
    .h-md-100 {
        height: auto;
        padding: 20px;
        flex-direction: column;
        display: flow-root;
    }
}

@media (max-width: 500px) {
    .top li {

        font-size: 1rem;
        ;

    }
}


/* -------------------------------------------------------------------- */
/* ----------------------------Contact Page----------------------------- */

#contact {
    width: 100%;

}


#contact p {
    font-size: 18px;
    padding: 8px;
    text-align: center;
}


#contact h2 {
    font-size: 28px;
    text-transform: uppercase;
    padding: 8px;
    text-align: center
}

form input {
    background: transparent;
    border: none;
    color: #000000e8;
    font-weight: 700;

}

form button {
    padding: 12px 24px !important;
    background-color: #000000a1;
    transition: .3s all ease ; 
    font-size:13px;

}

input::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

/* -------------------------------------------------------------------- */
/* ----------------------------Footer----------------------------- */

#footer i {
    font-size: 40px;
    padding: 10px;
    color: aqua;
    transition: .2s;
}

#footer i:hover {
    font-size: 40px;
    padding: 10px;
    color: deeppink;

}

#footer {
    width: 100%;
    height: 10%;
    text-align: center;
}

.footer {
    background-color: black;
    height: 10%;
    padding: 0;
}

/* -------------------------------------------------------------------- */
/* ----------------------------MEDIA QUERY----------------------------- */



@media only screen and (max-width:991px) and (min-width:767px) {


    #about {
        padding: 20px;
    }
      .topcontact{
        visibility: hidden;
      
        
    }

}

@media only screen and (max-width:766px) and (min-width:641px) {





    #about {
        width: 100%;
        padding: 0px;
    }

    .about {
        width: 100%;
        height: 160vh;
    }


}


@media only screen and (max-width:640px) {


    .about button {
        padding: 5px 15px;
        font-weight: bold;
    }

    #contact {
        height: 100%;
    }
    #about{
        padding: 0px;
    }

    #contact p {
        font-size: 15px;
        padding: 15px;
    }
    

}


.review-content {
    flex-direction: column;
    padding: 5px 30px;
}

.google-div,
.review-content {
    display: inherit;
    height: 100%;
    padding: 0 20px;
    align-items: center;
}

.google-div {
    background-color: #fbfbfb;
    border-right: 2px solid #dcdcdc;
}
.google-div img {
    vertical-align: middle;
    border-style: none;
    width: 55px;
}

@media (max-width:480px) {
    .google-div {
       padding: 0px 8px;
    border-radius: inherit;
    }
    
    .google-div img {
        width: 18px;
    }
    .google-div, .review-content {
   
    padding: 0px 5px;
   
}
    .review-content p {
    font-size: 10px;
}
    .review-div {
   
    height: 60px;
    
}
    #header .logo img {
    padding: 0px;
    margin: 0px;
    height: 54px;
}

}